
/* Your CSS Code here. */
.moviePic{
    height: auto;
    width: auto;
    opacity: 0.8;
}

.movieDetail{
    text-align: center;
    font-size: 13px;
    width: 100%;
    position: relative;
    top: 10px;
}